# macOS
.DS_Store

# Eclipse workspace metadata
.metadata/

# Eclipse generated output
**/bin/
**/target/
**/*.class

# Eclipse local/project-specific settings
**/.settings/

# Optional logs/temp files
*.log
*.tmp

# Runtime-generated MAPE-K artifacts
AutonomousCar.mapek.lite.projects/RuntimeRepositories/AutonomousCar/
AutonomousCar.mapek.lite.projects/**/AdaptationReports/